/*****************************************/
/*           Standards                   */
/*****************************************/

/*
This website was built by Sal Costa
https://salcosta.dev

Screen Breakpoints:
1400+ Desktops
800-1400 Small Screen Computers
480-800 Tablets
300-480 Phones

transitions:
pointer: 200ms 
thematic: 400ms 
*/

/*****************************************/
/* --- Universal Formatting --- */
/*****************************************/

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* firefox scrollbar */
  /* scrollbar-color: #FFFFFF #000000  THUMB, TRACK */;

  /* theme variables */
  --bg: #f2efe3;
  --text: #323e4e; /* #33322e */
  --accent: #facd50;
  --accent-dark: #e8b835;

  --shadow-lg: 0px 4px 20px rgba(0, 0, 0, 0.4);
  --shadow-sm: 0 2px 6px rgba(0, 0, 0, 0.2);

  --font-sm: 1.2rem;
  --font-md: 1.4rem;
  --font-lg: 1.8rem;

  --time: 400ms;
  --time-fast: 100ms;
  --time-long: 600ms;
}

/* highlighted text 
::selection { 
  background-color: #FFFFFF;  Highlight background color 
  color: #000000;  Highlighted text color 
}
*/

/* scrollbar 
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #000000;
}
  */

html {
	margin: 0 auto;
	padding: 0;
  font-family: "Poppins", sans-serif;

  font-weight: 400;
  font-style: normal;
  background-color: var(--bg);
  color: var(--text);

	scroll-behavior: smooth;
	max-width: 100%;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}
body {
	margin: 0 auto;
	padding: 0;
}
h1, h2, p {
  color: var(--text);
}
h1 { 
	font-family: "El Messiri", sans-serif;
  font-size: 2.6rem;
  line-height: 2.8rem;
  margin: 0;
}
h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  opacity: 0.7;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: var(--font-sm);
}

a, a:visited {
  color: var(--text);
  font-size: var(--font-sm);
}
a:hover,
a:focus-visible {
  color: var(--accent-dark);
}
a.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: none;
  outline: none;
  margin: 0 8px 4px 8px;
  padding: 6px 12px 4px 12px;
  cursor: pointer;
  font-family: "El Messiri", sans-serif;
  font-weight: 600;
  font-size: var(--font-md);
  text-decoration: none;
  position: relative;
  overflow: visible;
  border-radius: 8px;
  background-color: var(--accent-dark);
  box-shadow: var(--shadow-sm);
  color: var(--text);
  transition: 
    background-color var(--time),
    transform var(--time-fast);
}
a.button::before,
a.button::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
}
a.button::before {
  left: -8px;
  border-width: 10px 8px 10px 0;
  border-color: transparent var(--accent-dark) transparent transparent;
  transition: border-color var(--time);
}
a.button::after {
  right: -8px;
  border-width: 10px 0 10px 8px;
  border-color: transparent transparent transparent var(--accent-dark);
  transition: border-color var(--time);
}

a.button:hover,
a.button:focus-visible {
  color: var(--text);
  background-color: var(--accent);
  transform: scale(0.95);
}
a.button:focus-visible {
  text-decoration: underline;
}
a.button:hover::before,
a.button:focus-visible::before {
  left: -6px;
  border-color: transparent var(--accent) transparent transparent;
}
a.button:hover::after,
a.button:focus-visible::after {
  right: -6px;
  border-color: transparent transparent transparent var(--accent);
}

@media screen and (max-width: 800px) { /* tablets */
  h1 { 
    font-size: 2.2rem;
    line-height: 2.4rem;
  }
  a.button {
    font-size: var(--font-lg);
    padding: 6px 16px 2px 16px;
  }
}
@media screen and (max-width: 480px) { /* phones */
  h1 { 
    font-size: 1.8rem; 
    line-height: 2rem;
  }
  h2 {
    font-size: 1.4rem;
  }
}

/*****************************************/
/*              Page setup               */
/*****************************************/
#content { /* page content box */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  min-height: 60vh;
  max-width: 2000px;
  margin: 120px auto 4rem auto;
}

.page-title { /* page title */
  width: 100%;
  display: flex;
  gap: 0.5rem;
}
.title-box {
  display: flex;
  padding: 0.25rem;
  background-color: var(--text);
}
.title-box-inner {
  width: 2rem;
  box-sizing: border-box;
  border: 2px solid var(--bg);
}
.title-text {
  display: flex;
  flex-direction: column;
}
.title-text > h1 {
  position: relative;
  top: 6px;
}

.subtext {
  opacity: 0.6;
}

@media screen and (max-width: 2000px) {/* not ultra-wide */
  #content {
    margin: 120px 15% 4rem 15%;
  }

}
@media screen and (max-width: 800px) { /* tablets */
  #content {
    margin: 120px 10% 4rem 10%;
  }
  .title-box-inner {
    width: 1.5rem;
  }
  .title-text > h1 {
    top: 4px;
  }
  .title-text > h2 {
    margin-bottom: -4px;
  }
}
@media screen and (max-width: 480px) { /* phones */
  #content {
    margin: 120px 5% 4rem 5%;
  }
  .title-box-inner {
    width: 1.5rem;
  }
}

/*****************************************/
/*         Navigation Bar/Menu           */
/*****************************************/

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  gap: 1rem;
  height: 80px;
  box-shadow: 0px 0px 2px var(--text);
  background-color: var(--bg);
  z-index: 9;
}
a.nav-left {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  border-left: 8px solid var(--text);
  padding: 0.25rem 0 0 0.5rem;
  z-index: 10;
}
a.nav-left span {
  margin: 0;
  font-size: var(--font-md);
  font-weight: 500;
  color: var(--text);
  font-family: "El Messiri", sans-serif;
  white-space: nowrap;
  line-height: 1.4rem;
}
.nav-links {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 1rem;
}
a.page-link, a.page-link:visited {
  text-decoration: none;
  position: relative;
  font-family: "El Messiri", sans-serif;
  font-size: var(--font-sm);
  font-weight: 500;
  padding: 1rem 0;
  color: var(--text);
}
a.page-link::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  background-color: var(--text);
  bottom: 1rem;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform var(--time);
}

a.page-link:hover::before,
a.page-link:focus-visible::before,
a.page-link.active::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* dropdown item */
.dropdown-button {
  cursor: default;
  border-radius: 0;
  border: none;
  white-space: nowrap;
  background-color: inherit;
  font-family: "El Messiri", sans-serif;
  font-size: var(--font-sm);
  font-weight: 500;
  padding: 1rem 0.25rem 1rem 0.5rem;
  height: 80px;
  color: var(--text);
}
.dropdown-button svg {
  display: inline-block;
  width: 0.5rem;
  fill: var(--text);
}
.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  max-height: 0;
  overflow: hidden;
  top: 80px;
  min-width: 160px;
  background-color: var(--bg);
  box-shadow: 0px 1px 2px var(--text);
  transition: max-height var(--time-long) ease-in-out;
}
.dropdown:hover .dropdown-menu,
.dropdown:focus-within .dropdown-menu {
  max-height: 1000px;
}
.dropdown-menu a.page-link {
  display: block;
  padding: 1rem 0;
  margin: 0 1rem;
  white-space: nowrap;
}

/* mobile nav elements */
#nav-button {
  display: none;
  background: none;
  border: none;
  border-radius: 0;
  padding: 0;
  z-index: 10;
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
}
#nav-button svg {
  fill: var(--text);
}
#nav-button svg rect {
  transition: 
    transform var(--time);
}
#nav-button svg rect.top {transform-origin: top center;}
#nav-button svg rect.mid {transform-origin: center center;}
#nav-button svg rect.bot {transform-origin: bottom center;}

#nav-button.menu-open svg rect.top { transform: scaleY(0.6) translateY(-10px); }
#nav-button.menu-open svg rect.mid { transform: scale(0.8, 0.6); }
#nav-button.menu-open svg rect.bot { transform: scaleY(0.6) translateY(10px); }

/* responsive nav */
@media screen and (max-width: 800px) {
  nav {
    padding: 0 10%;
    height: 100px;
  }
  .nav-links { /* full screen nav */
    display: flex;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    gap: 0.25rem;
    padding-top: 120px;
    background-color: var(--bg);
    flex-direction: column;
    transform: translateX(110%);
    transition: transform var(--time);
  }
  nav.menu-open .nav-links {
    visibility: visible;
    transform: translateX(0%);
  }
  #nav-button {
    display: flex;
  }
  a.page-link, .dropdown-button {
    font-size: var(--font-lg);
    width: 80%;
    text-align: center;
  }
  .dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .dropdown-button svg {
    width: 0.75rem;
    margin-bottom: 2px;
    transition: transform var(--time);
  }
  .dropdown-menu {
    align-items: center;
    position: static;
    box-shadow: none;
    background-color: var(--text);
    width: 100%;
    box-shadow: inset var(--shadow-lg);
  }
  .dropdown:hover .dropdown-menu {
    max-height: 0;
  }
  .dropdown.open .dropdown-menu,
  .dropdown.open:hover .dropdown-menu {
    max-height: 1000px;
  }
  .dropdown.open .dropdown-button svg {
    transform: rotate(180deg);
  }
  .dropdown-menu a.page-link {
    color: var(--bg);
  }
  a.page-link::before {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  nav {
    padding: 0 5%;
  }
  #nav-button {
    right: 5%;
  }
}

/***************************************/
/*         Home page                   */
/***************************************/

/*   Hero   */
#hero {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  box-shadow: var(--shadow-lg);
  background-color: var(--text);
}
.hero-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  border: 4px solid var(--bg);
}
.hero-box h1 {
  color: var(--bg);
  white-space: nowrap;
}
.hero-box p {
  color: var(--bg);
  font-size: var(--font-sm);
  text-align: center;
  margin: 0;
}
.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 1rem;
  padding-top: 1rem;
}
.hero-content span {
  font-size: var(--font-md);
}
.hero-book {
  width: 30%;
  min-width: 182px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.hero-book img {
  width: 50%;
  filter: drop-shadow( var(--shadow-lg) );
}
.hero-video {
  flex-grow: 1;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: var(--bg);
}
iframe {
  border: none;
  aspect-ratio: 16/9;
}

/* review */
#review {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
#review h2 {
  margin-left: 2rem;
}
.stars {
  display: flex;
  align-items: center;
  gap: 2px;
  margin: 1rem 0 0.5rem 2rem;
}

.stars svg {
  width: 24px;
  fill: var(--accent-dark);
}
blockquote {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0.5rem 2rem 0 2rem;
  padding-left: 0.5rem;
  border-left: 4px solid var(--text);
}
blockquote p {
  font-size: 1rem;
  margin: 0;
}

/* home-books */
#home-books {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.book-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
a.book-link {
  width: 25%;
  display: flex;
  transform-origin: bottom center;
  transition: 
    transform var(--time),
    filter var(--time-fast);
}
a.book-link img {
  width: 100%;
  box-shadow: var(--shadow-sm);
}
a.book-link:hover,
a.book-link:focus-visible {
  transform: scale(1.02);
  filter: brightness(1.1);
}

@media screen and (max-width: 800px) {
  .hero-content {
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: 1rem;
  }
  .hero-book {
    width: auto;
    flex-direction: column-reverse;
    gap: 0.5rem;
  }
  .hero-book img {
    display: none;
  }
  .hero-video {
    width: 80%;
    gap: 0.25rem;
  }

  .book-list {
    justify-content: space-between;
  }
  a.book-link {
    width: 30%;
  }

  #review h2 {
    margin-left: 1rem;
  }
  .stars {
    margin: 1rem 0 0.5rem 1rem;
  }
  blockquote {
    margin: 0.5rem 1rem 0 1rem;
  }

  @media screen and (max-width: 480px) {
    #review h2 {
      margin-left: 0rem;
    }
    .stars {
      margin: 1rem 0 0.5rem 0rem;
    }
    blockquote {
      margin: 0.5rem 0rem 0 0rem;
    }
  }
}


/*****************************************/
/*             Book Pages                */
/*****************************************/

.book-listing {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted var(--text);
}
.book-buy {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.book-buy img {
  width: 100%;
  max-width: 270px;
  margin-bottom: 2rem;
}
.book-buy span {
  font-size: var(--font-sm);
  margin-top: 0.5rem;
  text-align: center;
}
.book-summary {
  width: 60%;
}
.book-summary span {
  font-size: var(--font-sm);
}
.isbn {
  display: flex;
  gap: 0.5rem;
  padding: 1rem 0 2rem 0;
}
.isbn-box {
  display: flex;
  flex-direction: column;
}

/* other reaading section */
#other-books {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.small-book-list {
  display: flex;
  width: 100%;
  gap: 4rem;
}
a.small-book-link {
  width: 15%;
  display: flex;
  transform-origin: bottom center;
  transition: 
    transform var(--time),
    filter var(--time-fast);
}
a.small-book-link img {
  width: 100%;
  min-width: 100px;
  box-shadow: var(--shadow-sm);
}
a.small-book-link:hover,
a.small-book-link:focus-visible {
  transform: scale(1.02);
  filter: brightness(1.1);
}

@media screen and (max-width: 800px) {
  .book-listing {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .book-buy {
    width: 100%;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px dotted var(--text);
  }
  .book-buy img {
    width: 50%;
  }
  .book-summary {
    width: 100%;
  }
  a.small-book-link {
    width: 20%;
  }
}


/*****************************************/
/*             About Page                */
/*****************************************/

.headshot-wrap {
  display: flex;
  justify-content: center;
  width: 300px;
  flex-shrink: 0;
  float: right;
  margin: 1.5rem 1rem 0 1rem;
}
.headshot-wrap img {
  width: 100%;
}

@media screen and (max-width: 1400px) {
  .about {
    align-items: flex-start;
  }
  .headshot-wrap {
    width: 40%;
  }
}
@media screen and (max-width: 800px) {
  .headshot-wrap {
    min-width: 240px;
  }
}
@media screen and (max-width: 600px) {
  .about {
    flex-direction: column;
    align-items: center;
  }
  .headshot-wrap {
    float: none;
    margin: 0 auto;
  }
}

/*****************************************/
/*              Events page              */
/*****************************************/

.events-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  width: 100%;
  gap: 2rem;
}
.no-events {
  display: flex;
  align-self: center;
  justify-content: center;
}
.event {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  margin-left: 2rem;
  border-bottom: 1px dotted var(--text);
  font-size: var(--font-sm);
  gap: 0.5rem;
}
.event a {
  align-self: flex-start;
}
.event-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.event-info span {
  font-size: --var(font-md);
  opacity: 0.7;
}
.event span {
  white-space: nowrap;
}

@media screen and (max-width: 800px) {
  .event-info {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  .event-info span {
    display: none;
  }
}

/*****************************************/
/*              Footer                   */
/*****************************************/

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15%;
  height: 100px;
  font-size: var(--font-sm);
}

/* responsive nav */
@media screen and (max-width: 800px) {
  footer {
    padding: 0 10%;
  }
}

@media screen and (max-width: 480px) {
  footer {
    padding: 0 5%;
  }
}